footer{
    text-align: center;
}
.form-control{
    width: 200px !important;

}
.navbar {
    padding-bottom: 0px !important;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.d-flex{
    padding-top: 16px !important;
}

#tablazat{
    justify-content: space-evenly;
    background-color: #22c1c3; !important;
}

.card{
    margin: 10px 10px 10px 10px !important;

    background: rgb(34,193,195);
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border: 1px solid black !important;
}

.card-img-top{
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
}
.modal-image{
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    width: 40%;
}

#modal-torzs{
    display: flex;
}

.modal-leiras{
    flex: 1 1 auto;
    padding: 10px 10px 10px 10px;
}

.ertekeles_nyil_fel{
    color: green;
    padding: 5px;
    padding-left: 20px;
}
.ertekeles_nyil_le{
    color: red;
    padding: 5px;
}
.ertekeles_nyil{
    overflow: hidden !important;
}
a{
    text-decoration: none !important;
}

body{
    background-color: #22c1c3 !important;
}

footer{
    background: rgb(34,193,195);
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
