footer{
    text-align: center;

    height: 100px;
    background-color:dimgrey;
}
.form-control{
    width: 200px !important;

}
.navbar {
    padding-bottom: 0px !important;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.d-flex{
    padding-top: 16px !important;
}
#tablazat{
    justify-content: space-evenly;
    background-color: #22c1c3; !important;
}
.card{
    margin: 10px 10px 10px 10px !important;

    background: rgb(34,193,195);
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border: 1px solid black !important;
}
.card-img-top{
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
}
.modal-image{
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    width: 40%;
}
#modal-bodyContent{
    display: flex;
}

#modal-contents-description{
    margin-left: 10px !important;
}
#modal-comments{
    margin-bottom: 2rem !important;

}
.modal-description{
    flex: 1 1 auto;
    padding: 10px 10px 10px 10px;
}

.ertekeles_nyil_fel{
    color: green;
    padding: 5px;
    padding-left: 20px;
}
.ertekeles_nyil_le{
    color: red;
    padding: 5px;
}
.ertekeles_nyil{
    overflow: hidden !important;
}
a{
    text-decoration: none !important;
}
.card-text{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 70ch !important;

}
body{
    background-color: #22c1c3 !important;
    font-family:Verdana, sans-serif !important;
}
.rating{
    letter-spacing: -0.9rem !important;
    margin-right:3px !important;
    font-size: 25px !important
}
#comments{
    border-top: 1px solid black;
    position: relative;
    flex: 1 1 auto;
    padding: 1rem !important;
}
#delete_comment{
    margin-top: 1rem !important;
}
#comment{
    width: 70%;
    resize: horizontal;
}



